@use "./reset.scss" as *;
@use "./themes/dark.scss" as *;
@use "./themes/light.scss" as *;
@use "./variables/global.scss" as *;

.app {
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
    background-color: var(--bg-color);
    transition: var(--transition-switch-theme-background);

    &__loader {
        width: 100vw;
        height: 100vh;
    }

    &__content_page {
        display: flex;
    }
}
