.loader {
    display: flex;
    align-items: center;
    justify-content: center;

    .svg {
        fill: var(--color-primary);
        transition: fill var(--transition-switch-theme-timeout);
    }

    &.app {
        width: 100vw;
        height: 100vh;
    }
}
