.title_and_text {
    transition: color var(--transition-switch-theme-timeout);
}

.text {
    color: var(--color-secondary);

    &.error {
        color: var(--color-red-secondary);
    }

    &.inverted {
        color: var(--color-secondary-inverted);
    }
}

.title {
    color: var(--color-primary);

    &.error {
        color: var(--color-red-primary);
    }

    &.inverted {
        color: var(--color-primary-inverted);
    }
}

.text,
.title {
    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }

    &.center {
        text-align: center;
    }

    &.size_m {
        font: var(--font-m);
    }

    &.size_l {
        font: var(--font-l);
    }

    &.size_xl {
        font: var(--font-xl);
    }
}
