.text {
    color: var(--color-secondary);

    &.error {
        color: var(--color-red-secondary);
    }

    &.inverted {
        color: var(--color-secondary-inverted);
    }
}

.title {
    color: var(--color-primary);

    &.error {
        color: var(--color-red-primary);
    }

    &.inverted {
        color: var(--color-primary-inverted);
    }
}

.text,
.title {
    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }

    &.center {
        text-align: center;
    }

    &.s {
        font: var(--font-s);
    }

    &.m {
        font: var(--font-m);
    }

    &.l {
        font: var(--font-l);
    }

    &.xl {
        font: var(--font-xl);
    }
}
