.button {
    outline: none;
    border: none;
    padding: 0.6rem 1.5rem;
    color: var(--color-primary);
    background: inherit;
    transition: opacity var(--transition-hover-timeout),
        fill-opacity var(--transition-hover-timeout);
    cursor: pointer;

    &:hover {
        fill-opacity: 80%;
        stroke-opacity: 80%;
        opacity: 0.8;
    }

    &:disabled {
        opacity: 0.5;
    }

    &.clear {
        margin: 0;
        padding: 0;
        background: transparent;
    }

    &.clear_inverted {
        color: var(--color-primary-inverted);
    }

    &.fill {
        border-radius: 1.4rem;
        color: var(--color-primary-inverted);
        background: var(--bg-color-inverted);
    }

    &.outline {
        border: 0.1rem solid var(--color-primary);
    }

    &.outline_red {
        border: 0.1rem solid var(--color-red-primary);
        color: var(--color-red-primary);
    }

    &.background {
        color: var(--color-primary);
        background: var(--bg-color);
    }

    &.background_inverted {
        color: var(--color-primary-inverted);
        background: var(--bg-color-inverted);
    }

    &.square {
        padding: 0;

        &.m {
            width: var(--font-line-m);
            height: var(--font-line-m);
            font: var(--font-m);
        }

        &.l {
            width: var(--font-line-l);
            height: var(--font-line-l);
            font: var(--font-l);
        }

        &.xl {
            width: var(--font-line-xl);
            height: var(--font-line-xl);
            font: var(--font-xl);
        }
    }

    &.m {
        font: var(--font-m);
    }

    &.l {
        font: var(--font-l);
    }

    &.xl {
        font: var(--font-xl);
    }
}
