.sidebar {
    position: relative;
    width: var(--width-sidebar);
    height: var(--height-sidebar);
    background: var(--bg-color-inverted);
    transition: background var(--transition-switch-theme-timeout),
        width var(--transition-toggle-sidebar-timeout),
        flex-direction var(--transition-toggle-sidebar-timeout);

    .collapse_btn {
        position: absolute;
        right: calc(0rem - var(--font-line-l));
        bottom: var(--font-line-l);
        display: flex;
        align-items: center;
        justify-content: center;

        &_span {
            display: block;
            transition: var(--transition-toggle-sidebar-timeout);

            &_animated {
                transform: rotate(-180deg);
            }
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-left: 3rem;
        row-gap: 2rem;

        .link {
            display: flex;
            column-gap: 2rem;
            align-items: center;
            transition: column-gap var(--transition-toggle-sidebar-timeout);

            &_text {
                white-space: nowrap;
                transition: color var(--transition-switch-theme-timeout),
                    opacity var(--transition-toggle-sidebar-timeout);
            }

            &_svg {
                min-width: 30px;
                fill: var(--primary-color-inverted);
                transition: fill var(--transition-switch-theme-timeout);
            }
        }
    }

    .switchers {
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 1rem;
    }

    &.collapsed {
        width: var(--width-sidebar-collapsed);

        .links {
            .link {
                column-gap: 0;
                width: max-content;
                transition: column-gap var(--transition-toggle-sidebar-timeout);

                &_text {
                    width: 0;
                    opacity: 0;
                    transition: opacity var(--transition-toggle-sidebar-timeout);
                    pointer-events: none;
                }
            }
        }
    }
}
