.sidebar {
    position: relative;
    width: var(--width-sidebar);
    height: var(--height-sidebar);
    background: var(--bg-color-inverted);
    transition: var(--transition-all-switch-theme), width var(--transition-toggle-sidebar-timeout);

    .collapse_btn {
        position: absolute;
        right: calc(0rem - var(--font-line-l));
        bottom: var(--font-line-l);
        display: flex;
        align-items: center;
        justify-content: center;

        &_span {
            display: block;
            transition: var(--transition-toggle-sidebar-timeout);

            &_animated {
                transform: rotate(-180deg);
            }
        }
    }

    .links {
        margin-top: 2rem;
        margin-left: 3rem;
    }

    .switchers {
        margin-bottom: 2rem;
        width: 100%;
    }

    &.collapsed {
        width: var(--width-sidebar-collapsed);
    }
}
