.article_list_item {
    &.tile {
        width: 230px;
        transition: opacity 0.3s, transform 0.3s;
        cursor: pointer;

        .image_wrapper {
            position: relative;
            width: 200px;
            height: 200px;

            .img {
                width: 200px;
                height: 200px;
                object-fit: cover;
            }

            .created_at {
                position: absolute;
                right: 0;
                top: 0;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }

        .info_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;

            .types {
                overflow-x: hidden;
                width: 115px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .views_wrapper {
                display: flex;
                column-gap: 0.4rem;
                align-items: center;
            }
        }

        .title {
            overflow-x: hidden;
            margin-top: 0.8rem;
            width: 200px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            opacity: 0.9;
            transform: scale(1.04);

            .image_wrapper {
                .created_at {
                    opacity: 1;
                }
            }
        }
    }

    &.list {
        .card {
            display: flex;
            flex-direction: column;

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .user {
                    display: flex;
                    column-gap: 1rem;
                }
            }

            .title {
                margin-top: 1rem;
            }

            .img {
                margin-top: 1.6rem;
                width: 100%;
                max-height: 250px;
                object-fit: cover;
            }

            .footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 2rem;

                .views_wrapper {
                    display: flex;
                    column-gap: 0.6rem;
                    align-items: center;
                }
            }
        }
    }
}
