.article_list_item {
    &.tile {
        width: 230px;
        transition: opacity 0.3s, transform 0.3s;
        cursor: pointer;

        .image_wrapper {
            position: relative;
            width: 200px;
            height: 200px;

            .created_at {
                position: absolute;
                right: 0;
                top: 0;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }

        .info_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;

            .types {
                overflow-x: hidden;
                width: 115px;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .views_wrapper {
                display: flex;
                column-gap: 0.4rem;
                align-items: center;
            }
        }

        .title {
            overflow-x: hidden;
            margin-top: 0.8rem;
            width: 200px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            opacity: 0.9;
            transform: scale(1.04);

            .image_wrapper {
                .created_at {
                    opacity: 1;
                }
            }
        }
    }

    // &.list {

    // }
}
