.code {
    position: relative;
    overflow-x: auto;
    border: 0.1rem solid var(--color-primary);
    padding: 2rem;
    color: var(--color-primary);
    background: var(--bg-color-code);
    transition: color var(--transition-switch-theme-timeout),
        background var(--transition-switch-theme-timeout),
        border var(--transition-switch-theme-timeout);

    .copy_btn {
        position: absolute;
        right: 1rem;
        top: 1rem;
        background: transparent;

        .svg {
            fill: none;
            stroke: var(--color-primary);
        }
    }
}
