@use "../fonts.scss" as *;

:root {
    // ? Шрифты
    --font-family-main: "SB Sans Interface Regular", system-ui;
    --font-s: 0.8rem / 1.6rem var(--font-family-main);
    --font-m: 1.6rem / 2.4rem var(--font-family-main);
    --font-l: 2.4rem / 3.2rem var(--font-family-main);
    --font-xl: 3.2rem / 4rem var(--font-family-main);

    // ? Размеры
    --height-navbar: 5rem;
    --width-sidebar: 250px;
    --width-sidebar-collapsed: 80px;
    --height-sidebar: calc(100vh - var(--height-navbar));

    // ? Цвета
    --bg-color-overlay: rgb(0 0 0 / 60%);
    --color-red-primary: #f00;
    --color-red-secondary: #ce0505;
    --color-orange-active: #ce7a05;

    // ? z-индексы
    --z-index-modal-login: 10;
    --z-index-listbox: 20;
    --z-index-menu: 30;

    // ? Продолжительность анимаций
    --transition-switch-theme-timeout: 1s;
    --transition-toggle-sidebar-timeout: 0.3s;
    --transition-toggle-overlay-timeout: 0.5s;
    --transition-toggle-modal-timeout: 0.5s;
    --transition-hover-timeout: 0.2s;

    // ? Все анимации для смены темы
    --transition-all-switch-theme: color var(--transition-switch-theme-timeout),
        background var(--transition-switch-theme-timeout),
        fill var(--transition-switch-theme-timeout), stroke var(--transition-switch-theme-timeout);
}
