.input {
    outline: none;
    border: none;
    font: var(--font-m);
    font-weight: 300;
    color: var(--primary-color);
    background: inherit;
}

.inverted {
    padding: 0.5rem 1rem;
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);

    &::placeholder {
        color: var(--inverted-primary-color);
        opacity: 0.8;
    }
}
