.input {
    outline: none;
    border: none;
    font: var(--font-m);
    font-weight: 300;
    color: var(--color-primary);
    background: inherit;
}

.inverted {
    padding: 0.5rem 1rem;
    color: var(--primary-color-inverted);
    background: var(--bg-color-inverted);

    &::placeholder {
        color: var(--primary-color-inverted);
        opacity: 0.8;
    }
}
