.input {
    outline: none;
    border: none;
    font: var(--font-m);
    font-weight: 300;
    color: var(--color-primary);
    background: inherit;
    transition-property: color background;
    transition-duration: var(--transition-switch-theme-timeout);

    &.readonly {
        opacity: 0.7;
    }

    &.inverted {
        padding: 0.5rem 1rem;
        color: var(--color-primary-inverted);
        background: var(--bg-color-inverted);

        &::placeholder {
            color: var(--color-primary-inverted);
            opacity: 0.8;
        }
    }
}
