.app_dark_theme {
    --bg-color: #0b0b0b;
    --bg-color-inverted: #ededed;

    // ?
    --color-primary: #fff;
    --color-primary-inverted: #1f3ce2;

    // ?
    --color-secondary: #bababa;
    --color-secondary-inverted: #123aa7;

    // ?
    --color-theme: #0115c6;
    --color-theme-inverted: #ffc700;
}
