body.dark {
    --bg-color: #0b0b0b;
    --inverted-bg-color: #ededed;

    // ?
    --primary-color: #fff;
    --inverted-primary-color: #1f3ce2;

    // ?
    --secondary-color: #bababa;
    --inverted-secondary-color: #123aa7;

    // ?
    --theme-color: #0115c6;
    --inverted-theme-color: #ffc700;
}
