.app_light_theme {
    --bg-color: #ededed;
    --inverted-bg-color: #0b0b0b;

    // ?
    --primary-color: #1f3ce2;
    --inverted-primary-color: #fff;

    // ?
    --secondary-color: #123aa7;
    --inverted-secondary-color: #bababa;

    // ?
    --theme-color: #ffc700;
    --inverted-theme-color: #0115c6;
}
