.app_light_theme {
    --bg-color: #ededed;
    --bg-color-inverted: #0b0b0b;

    // ?
    --color-primary: #1f3ce2;
    --color-primary-inverted: #fff;

    // ?
    --color-secondary: #123aa7;
    --color-secondary-inverted: #bababa;

    // ?
    --color-theme: #ffc700;
    --color-theme-inverted: #0115c6;

    // ? Skeleton
    --color-skeleton: #fff;
    --shadow-skeleton: rgba(0 0 0 / 20%);

    // ? Code
    --bg-color-code: #c4c4c455;
}
