* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 1.2rem;
        height: 0.8rem;
    }

    &::-webkit-scrollbar-track {
        background: var(--bg-card);
    }

    &::-webkit-scrollbar-thumb {
        border: 0.2rem solid var(--color-primary);
        border-radius: 2rem;
        background: var(--color-primary-inverted);
    }
}

html {
    font-size: 62.5%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    color: black;
}

input,
button,
textarea,
select {
    font: inherit;
}
