.app.dark {
    --bg-color: #0b0b0b;
    --inverted-bg-color: #ededed;

    // ?
    --primary-color: #fff;
    --inverted-primary-color: #0a1550;

    // ?
    --secondary-color: #bababa;
    --inverted-secondary-color: #0f308c;
}
