.app.light {
    --bg-color: #ededed;
    --inverted-bg-color: #0b0b0b;
    --primary-color: #112287;
    --inverted-primary-color: #fff;
    --secondary-color: #123aa7;
    --inverted-secondary-color: #bababa;
}
