@use "shared/assets/styles" as *;

.app {
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
    background-color: var(--bg-color);
    transition: var(--transition-switch-theme-background);
}

.content_page {
    display: flex;
}
