@use "shared/styles/index" as *;

body {
    font: var(--font-m);
    color: var(--primary-color);
    transition: color var(--transition-switch-theme-timeout);
}

#root {
    min-height: 100vh;
    background: var(--bg-color);
    transition: background var(--transition-switch-theme-timeout);
}

.root_content_page {
    display: flex;
}

.root_loader {
    width: 100vw;
    height: 100vh;
}
