@use "shared/styles/index" as *;

body {
    font: var(--font-m);
    color: var(--color-primary);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.content {
    display: flex;
}
