.navbar {
    width: 100%;
    height: var(--navbar-hight);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 2rem;
}

.links {
    display: flex;
    margin-left: auto;
    column-gap: 2rem;
}