.profile_card {
    border: 0.2rem solid var(--bg-color-inverted);
    padding: 2rem;

    &.editing {
        border: 0.2rem solid var(--color-orange-active);
    }

    &.loading,
    &.error {
        height: 300px;
    }
}
