.comment_card {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--color-primary);
    padding: 1rem;
    row-gap: 1rem;

    .header {
        display: flex;
        column-gap: 1rem;
        align-items: center;
    }
}
