.navbar {
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: var(--height-navbar);
    background: var(--bg-color-inverted);
    transition: background var(--transition-switch-theme-timeout);

    .links {
        display: flex;
        column-gap: 2rem;
        margin-left: auto;
        color: var(--primary-color-inverted);
    }
}
