.app_link {
    font-weight: 600;
    transition: opacity var(--transition-hover-timeout);

    &:hover {
        opacity: 0.8;
    }

    &.primary {
        color: var(--color-primary);
    }

    &.primary_inverted {
        color: var(--color-primary-inverted);
    }

    &.secondary {
        color: var(--color-secondary);
    }

    &.secondary_inverted {
        color: var(--color-secondary-inverted);
    }

    &.outline {
        border: 0.1rem solid var(--color-primary);
        padding: 0.6rem 1.5rem;
        color: var(--color-primary);
    }
}
