.app_link {
    font-weight: 600;
}

.primary {
    color: var(--primary-color);
}

.primary_inverted {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.secondary_inverted {
    color: var(--inverted-secondary-color);
}
