.app_link {
    font-weight: 600;
}

.primary {
    color: var(--color-primary);
}

.primary_inverted {
    color: var(--primary-color-inverted);
}

.secondary {
    color: var(--color-secondary);
}

.secondary_inverted {
    color: var(--secondary-color-inverted);
}
